.footer {
  position: relative;
  padding-top: 40rem;
  left: 1rem;
  right: 10rem;
  top: -1rem;
  z-index: -1;
  bottom: 0;
  height: 50rem;
  margin-top: -60rem;
  width: 93rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.heading {
  position: absolute;
  text-align: center;
  color: #fff;
  font-weight: 1000;
  font-size: 30px;
  margin-top: 13rem;
  left: 35rem;
}

.yoga-image {
  position: absolute;

  padding: 30px;
  display: flex;
  flex-direction: row;
  left: 6rem;
  width: 50%;
  height: 50%;
  margin-top: 20rem;
}

.yoga-image .img1 {
  box-shadow: 0 0 0 1pt white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}

.yoga-image .img2 {
  box-shadow: 0 0 0 1pt white;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}

.yoga-image .img3 {
  box-shadow: 0 0 0 1pt white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}
